{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">

<h1 class="text-center titulo mb-5">Empresa Vitor Haack LTDA</h1>
    <hr>
     <div class="center-column row container">
          <big class="text-center titulo texto container ">
                A empresa V. Haack Industria De Moveis Ltda foi fundada em dezoito de julho de dois mil e vinte,
              tendo em foco a fabricação de móveis com o uso da madeira. O estilo europeu da cidade de Gramado,
              Rio Grande do Sul, inspirou o artesão Vitor Haack a vender seus produtos de decoração.
                Demonstrando a arte da transformação da madeira em detalhes minimalistas, mas com um toque de
              modernismo, deixando o móvel em harmonia com o ambiente.
                O início desse grande projeto surgiu em uma modesta casa, em que as ideias de simples papéis
              tomaram vida e atualmente os móveis do artesão estão em todos as cidades do Brasil, levando um
              pouco da madeira de gramado.
                Atualmente, esse antigo sonho é compartilhado com os vários funcionários da empresa, contando
              com um designer gráfico que ajuda V. Haack a desenvolver seus projetos, com predominância em abajures,
              mas como também mesas de centro.

              <div class=figure>
  <p><img class=scaled src="static/gramado.jpg">
  <p>O pórtico é um dos principais símbolos da cidade e atrativo ponto turístico de Gramado. Foi inaugurado
em 6 de janeiro de 1973, na gestão do prefeito Horst Volk. O projeto foi do arquiteto Guinther Schlieper, que incentivou
    o estilo arquitetônico bávaro na região.
</div>
          </big>
          <div class="row mt-5 mb-5">
            “Um artesão movido por sua paixão em levar a magia da transformação da madeira em produtos de decoração.”
          </div>
     </div>




</div>
 <div></div>
{% endblock %}