<!--BOOTON NAVBAR-->
<hr>
<nav

            class="navbar navbar-expand-lg secondary-bg-color p-2"
            id="bottom-navbar-container">
            <div class="container">

                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#bottom-navbar"
                    aria-controls="bottom-navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="bi bi-list mt-0" ></i>
                </button>
                <img src="static/vhaackgrande.jpg" class=" rounded-pill qualquer-coisa">

                <ul class="navbar-nav mb-2 mb-lg-0 collapse navbar-collapse" id="bottom-navbar">
                   <a type="button" class="btn outline-dark" Dark class="navbar-brand"class="nav-link" aria-current="page" href="/">Home</a>

                   <a type="button" class="btn outline-dark" Dark class="navbar-brand"class="nav-link" aria-current="page" href="{{url_for('produto')}}">Catalogo</a>

                  <a type="button" class="btn outline-dark" Dark class="navbar-brand"class="nav-link" aria-current="page" href="contato">Contato</a>

                  <a type="button" class="btn outline-dark" Dark class="navbar-brand"class="nav-link" aria-current="page" href="empresa">Empresa</a>

                  <a type="button" class="btn outline-dark" Dark class="navbar-brand"class="nav-link" aria-current="page" href="trabalheconosco">Trabalhe Conosco</a>

                </ul>
                <form class="d-flex container-fuid">
                <input class="form-control me-2 mt-3" type="search" placeholder aria-label="Search">
                <button type="button" class=" mt-3 btn btn-outline-warning" Dark class="navbar-brand" class="btn btn-outline-success" type="submit">&#128269;</button>
            </form>

            </div>
        </nav>
<hr>

        <!--FIM NAVBAR-->