
{% extends 'base.html' %}

{% block body %}
<h1 class="text-center titulo ">Informações do Site</h1>
     <div class=" ml-2 center-column row fundoimagem container-fluid">
          <h5 class=" container textoimagem container">
                         Olá, querido visitante! Seja bem-vindo ao nosso site, um espaço dedicado à informação,
               entretenimento e aprendizado. Nós acreditamos que a educação é a chave para um futuro melhor,
               e por isso nos dedicamos a produzir conteúdo de qualidade e relevante para todos os nossos leitores.
               Em nosso site, você encontrará uma variedade de temas.<br>
               Além disso, nosso site é um espaço de colaboração e interação. Queremos que você se sinta à vontade para
               deixar seus comentários, sugestões e críticas construtivas, pois acreditamos que a troca de ideias
               é fundamental para o nosso crescimento e desenvolvimento.
               Por fim, queremos deixar claro que nosso site não tem fins lucrativos e que todo o conteúdo
               aqui disponibilizado é
               produzido com muita dedicação e carinho. Agradecemos por nos visitar
               e esperamos que você aproveite cada momento em nosso espaço.
               Um grande abraço,
               Equipe do nosso site.</h5>
     </div>
{% endblock %}